/* Small reset */
div, textarea, pre {
    margin: 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.extra-line {
    padding-bottom: 1.15em; /* A bit more than one additional line of text. */
}

#pretty{
    border: solid 1px #CCCCCC;
    min-height: 100px;
}

.muted {
    opacity: 0.1;
}

/* Rounding */
.half-width {
    width: 49%;
}

.box-sized {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#container {
    position: relative;
}

#ugly {
    min-height: 100px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    border: solid 1px #CCCCCC;
}


#textCopy {
    visibility: hidden;
    width: 100%;
}

/* Make pre word wrap */
pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Currently only have 1 link */
.foot {
    position: absolute;
    right: 0px;
    margin: 10px;
}